@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customers application</h1>
    <h1>Please use the navigation bar in order to progress. for viewing the customers list, you may choose the option 'Customers'</h1>
</div>
